<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--ChinaAQI AQI库-->
    <add name="AQIconnectString" connectionString="Data Source=10.228.8.198;Initial Catalog=ChinaAQI;Persist Security Info=True;User ID=sa;Password=smc_p@ssw0rd" providerName="System.Data.SqlClient"/>
    <add name="DBCONFIG" connectionString="Data Source=192.168.1.57,5678;Initial Catalog=HDDBShare;Persist Security Info=True;User ID=Sa;Password=Diting2015" providerName="System.Data.SqlClient"/>
    <add name="DBCONFIGEMFC" connectionString="Data Source=192.168.1.57,5678;Initial Catalog=EMFCShare;Persist Security Info=True;User ID=sa;Password=ditingpass" providerName="System.Data.SqlClient"/>
    <!--<add name="DBCONFIG116" connectionString="Data Source=localhost;Initial Catalog=EMBDShare;Persist Security Info=True;User ID=Sa;Password=sqlserver" providerName="System.Data.SqlClient"/>-->
    <add name="DBCONFIG116" connectionString="Data Source=10.228.9.116,3411;Initial Catalog=EMBDShare;Persist Security Info=True;User ID=Sa;Password=ditingpass" providerName="System.Data.SqlClient"/>

    <!--CimissDB-->
    <add name="CimissDB116" connectionString="Data Source=10.228.9.116,3411;Initial Catalog=CimissDB;Persist Security Info=True;User ID=Sa;Password=ditingpass" providerName="System.Data.SqlClient"/>
    <!--3433-->
    <add name="CimissDB3433" connectionString="Data Source=211.144.122.59,3433;Initial Catalog=SEMC_DMC;Persist Security Info=True;User ID=sa;Password=diting" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogDrect" value="E:\平台\大数据平台后台服务\LogDrect\"/>
    <!--必须字段中文-->
    <add key="MustFieldCn" value="数据时间,站点编号,站点名称,省份,经度,维度"/>
    <!--必须字段英文文-->
    <add key="MustFieldEn" value="collect_time,Station_Id_C,Station_Name,Province,Lon,Lat"/>
    <!--数据服务下载路径-->
    <add key="DataServiceDownPath" value="E:\平台\大数据平台后台服务\DownRecord\"/>
  </appSettings>
  <system.web>
    <sessionState mode="Off"/>
    <httpRuntime maxRequestLength="2097152000" executionTimeout="3600" maxQueryStringLength="10240"/>
    <compilation targetFramework="4.0" debug="true"/>
    <!--<pages validateRequest="false" />-->
    <!-- <httpRuntime requestValidationMode="2.0"/>-->
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="standardEndpoint" crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <!--这个是接收大数据加的-->
        <binding name="webBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.GetImageProducts">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IGetImageProducts"/>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.HomeDataService">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IHomeDataService"/>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.DataService">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IDataService"/>
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.Register">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IRegister"/>
      </service>
	   <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.Kaifangtongji">
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IKaifangtongji" />
      </service>
	  <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.GetAHData">
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IGetAHData" />
      </service>
	    <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.UserManager">
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.IUserManager" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WcfSmcGridService.SYS.BigData.SystemAdmin">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="WcfSmcGridService.SYS.BigData.ISystemAdmin"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <!--修改此处可意控制修改的字符串的长度GZX-->
        <requestLimits maxQueryString="3000000000" maxUrl="1000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral"  publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>